.action-user .profile{
    position: relative;
    width: 25px;
    height: 25px;
    top: 10%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action-user .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action-user .menu-account_user{
    position: absolute;
    top: 10%;
    right: 4.5%;
    padding: 0.8rem 1.6rem;
    background: #fff;
    width: 15%;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.action-user .menu-account_user.user-ac{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action-user .menu-account_user::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 1.3em;
    width: 1em;
    height: 1em;
    background: #fff;
    transform: rotate(45deg);
}

/*  */
.action-user .menu-account_user h3{
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 10px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}
.action-user .menu-account_user h3 span{
    font-size: 0.8em;
    color: #cecece;
    font-weight: 400;
}
.action-user .menu-account_user ul li{
    list-style: none;
    padding: 5px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    
}
.action-user .menu-account_user ul li img{
    max-width: 1.1rem;
    margin-right: 4px;
    opacity: 0.5;
    transition: 0.5s;
}
.action-user .menu-account_user ul li:hover img{
    opacity: 1;
}
.action-user .menu-account_user ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 0.9em;
    font-weight: 500;
    transition: 0.5s;
}
.action-user .menu-account_user ul li:hover a{
    color: #ff1521;
}

